md-dialog.icon-search#icon-search-main-dialog {
    height: 70vh;
    width: 70vh;
}

    header.icon-search {
        /* [slot="headline"] */
        padding: 0px; 
        display: block;
    }
        md-tabs.icon-search::part(divider) {
            display: none;
        }
        section.icon-search {
            margin-top: 1rem;
            justify-content: center;
            display:flex;
        }


    main.icon-search {
        height: 100%;
        overflow: hidden;
    }
        md-list.icon-search {
        overflow-y: hidden; /* Allow vertical scrolling */
        height: 100%;
        margin-top: 1rem; /* Space between the search form and results */
        }

::slotted([slot="content"]) {
  margin-bottom: 1rem;
  padding-bottom: 2rem;
}


.fab-container {
  z-index: 1;
  position: fixed;
  right: 5vh;
  bottom: 20vw;
}

md-dialog {
  overflow: hidden;
}
